.about-text {
    margin: auto;
    width: fit-content;
    font-size: 1.2em;
    font-family: 'Rubik';
    line-height: 1.5em;
    color: rgb(65, 65, 65);
}

.about-part {
    width: 100%;
    padding: 0 10px;
    padding-bottom: 45px;
}