.contact-card-container {
    display: flex;
    width: 280px;
    align-items: center;
    padding: 10px;
    margin: 0 60px;
}

.contact-card-image {
    width: 70px;
    height: 70px;
    border-radius: 50%; 
    overflow: hidden;
    margin-right: 10px;
}

.contact-card-image img {
    width: 70px;
    height: 100%;
    object-fit: cover;
    object-position: center center;
 }

.contact-card-name {
    font-size: 1.3em;
}