.filter-button {
    border: none;
    border-radius: 10px;
    padding: 5px;
    transition: border-radius 0.3s;
    margin-right: 10px;
    margin-top: 10px;
}

.filter-button.active {
    background-color: #000;
    color:#fff;
}

.filter-button:hover {
    border-radius: 1em;
    transition: border-radius 0.3s;
    background-color: #222;
    color: white;
    cursor: pointer;
}