.filter-container {
  background-color: white;
  border-radius: 0em;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.button-container {
  padding: 0 10px;
}

@media only screen and (max-width: 500px) {
  .button-container {
    padding: 0 0px;
  }
}

.something-we-worked-on {
  padding: 0 10px;
}
@media only screen and (max-width: 500px) {
  .something-we-worked-on {
    padding: 0px;
  }
}
