.footer {
  padding-top: 5px;
  width: 100%;  
  background-color: #ddd;
  /* background: rgb(255,255,255); background: linear-gradient(90deg, #ddd 80%, #280a45 80%); */
  margin-top: auto;
  bottom: 0;
}

.contact-container {
  display: flex;
  max-width: 1080px;
  margin:auto;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .contact-container {
    display: block;
   
  }
}

@media only screen and (max-width: 500px) {
  
}