.header {
    padding: 0px 10px;
    height: 4em;
    background-color: #280a45;
    color: white;
    display: flex;
    align-items: center;
}

.header .logo{
    margin:auto;
    width: fit-content;
    display: block;
    text-align: center;
}